.data {
    margin-top: 1em;
}

.data li {
    list-style: none;
    background: #fff;
    border-left: 4px solid #F97300;
    padding: 1em;
    margin: 1em auto;
    color: #666;
    max-width: 30em;
    font-family: "Raleway", serif;
}

.data li i{
     float: right;
     color: #888;
     cursor: pointer;
}
