<div class="data">
    <ul>
        <li class="list-instyled" *ngFor="let todo of todos">
            {{ todo }} <i (click)="delete(todo)" class="material-icons">delete</i>
        </li>
    </ul>
</div>

