/*Google fonts*/@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    padding: 0;
    margin: 0;
    text-align: center;
}

form .data li i {
    float: right;
    color: #888;
    cursor: pointer;
}

.input-group-text {
    background: #F97300;
}

h1 {
    font-family: "Raleway";
    color: #F97300;
}