<form #form>
    <div class="form-group">
        <div class="input-group-prepend">
          <label>
            <input class="form-control" type="text" placeholder="Add Todo" [(ngModel)]="todo">
          </label>
          <button type="button" class="input-group-text" (click)="addTodo(); form.reset()"><i class="material-icons">add</i></button>
        </div>
    </div>
</form>
