form {
    max-width: 30em;
    margin: 4em auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
}

form input[type=text]::placeholder {
    font-family: "Raleway";
    color:#666;
}

form .input-group-text{
    background: #F97300;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 0.5em 23px;
    color: #fff;
    cursor: pointer;
}

form .input-group-text i{
    font-size: 2em;
}

form .form-control{
    height: 3em;
    margin: 18px -10px 0px 0px;
    font-family: "Raleway";
}

form .form-control:focus{
    box-shadow: 0;
}
